@use "../../../styles/index.scss" as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.container {
  padding: rem(14px) rem(32px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(1.5px) solid $brandPrimary;
  cursor: pointer;
  gap: spaceXs();

  @include textButtonRegular;

  .loadingIcon {
    display: none;
    animation: spin 2s linear infinite;
  }

  &.solid {
    background: $brandPrimary;
    color: $reversed;
  }

  &.outlined {
    background: transparent;
    color: $brandPrimary;
  }

  &.icon-before {
    flex-direction: row;
  }

  &.icon-after {
    flex-direction: row-reverse;
  }

  &.disabled {
    opacity: 0.8;
  }

  &.loading {
    .loadingIcon {
      display: block;
    }
  }

  &.small {
    padding: rem(11.5px) rem(20px);
    @include textButtonSmall;
  }
}
