@use "../../../../styles/index.scss" as *;

.container {
    padding-bottom: rem(100px);
}

.headingWrapper {
    text-align: center;
    padding: rem(96px) 0 rem(40px);
}

.bookCard {
    padding-top: rem(32px);
}
