@use "../../../../styles/index.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: spaceL();
  padding: spaceXl() 0;
}

.headingWrapper {
  text-align: center;
}

.bookCard {
  display: flex;
  justify-content: center;
}
