@use "./responsive" as *;
@use "sass:math";

@mixin grid($width, $columns, $gutter, $classExtension) {
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $width;
  }

  .col-1-#{$classExtension} {
    width: calc((100% / #{$columns}) - ($gutter * 11 / 12));
  }
  .col-2-#{$classExtension} {
    $columnsDividedBy2: calc(#{$columns} / 2);
    width: calc((100% / #{$columnsDividedBy2}) - ($gutter * 10 / 12));
  }
  .col-3-#{$classExtension} {
    $columnsDividedBy3: calc(#{$columns} / 3);
    width: calc(((100% / #{$columnsDividedBy3}) - ($gutter * 9 / 12)));
  }
  .col-4-#{$classExtension} {
    $columnsDividedBy4: calc(#{$columns} / 4);
    width: calc((100% / #{$columnsDividedBy4}) - ($gutter * 8 / 12));
  }
  .col-5-#{$classExtension} {
    $columnsDividedBy5: calc(#{$columns} / 5);
    width: calc((100% / #{$columnsDividedBy5}) - ($gutter * 7 / 12));
  }
  .col-6-#{$classExtension} {
    $columnsDividedBy6: calc(#{$columns} / 6);
    width: calc((100% / #{$columnsDividedBy6}) - ($gutter * 6 / 12));
  }
  .col-7-#{$classExtension} {
    $columnsDividedBy7: calc(#{$columns} / 7);
    width: calc((100% / #{$columnsDividedBy7}) - ($gutter * 5 / 12));
  }
  .col-8-#{$classExtension} {
    $columnsDividedBy8: calc(#{$columns} / 8);
    width: calc((100% / #{$columnsDividedBy8}) - ($gutter * 4 / 12));
  }
  .col-9-#{$classExtension} {
    $columnsDividedBy9: calc(#{$columns} / 9);
    width: calc((100% / #{$columnsDividedBy9}) - ($gutter * 3 / 12));
  }
  .col-10-#{$classExtension} {
    $columnsDividedBy10: calc(#{$columns} / 10);
    width: calc((100% / #{$columnsDividedBy10}) - ($gutter * 2 / 12));
  }
  .col-11-#{$classExtension} {
    $columnsDividedBy11: calc(#{$columns} / 11);
    width: calc((100% / #{$columnsDividedBy11}) - ($gutter * 1 / 12));
  }
  .col-12-#{$classExtension} {
    width: 100%;
  }
}

$mobileGridMargin: rem(16px);
$tabletGridMargin: rem(32px);
$desktopGridMargin: rem(120px);

@mixin gridMobile {
  $smallGridWidth: calc(100% - #{$mobileGridMargin} * 2);
  @include grid($smallGridWidth, 12, rem(8px), "sm");
}

@mixin gridTablet {
  $tabletGridWidth: calc(100% - #{$tabletGridMargin} * 2);
  @include grid($tabletGridWidth, 12, rem(24px), "md");
}

@mixin gridDesktop {
  @include grid($desktopRems, 12, rem(24px), "lg");
}

.row-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include gridMobile;

  @include tabletAndUpWithGridMargin($tabletGridMargin) {
    @include gridTablet;
  }

  @include desktopAndUpWithGridMargin($desktopGridMargin) {
    @include gridDesktop;
  }
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.exampleContent {
  background-color: #ef5350;
  padding: rem(20px);
  border: 1px solid white;
  text-align: center;
  color: white;
}
