@use "../../../styles/index.scss" as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $heroInput;
  border-radius: rem(5px);

  &:focus-within {
    outline: rem(1px) solid $brandPrimary;
    box-shadow: 0px 0px 8px 0px rgba(122, 90, 248, 0.23);
  }

  img {
    width: rem(24px);
    margin-left: rem(16px);
  }

  input {
    border: none;
    background-color: $heroInput;
    width: 100%;
    padding: rem(12px) rem(16px) rem(12px) rem(12px);
    border-radius: rem(5px);
    color: $headlines;

    @include textBodyRegular;

    &::placeholder {
      color: $headlines;
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}
