@use "../../../../../styles/index.scss" as *;

.content {
  flex-direction: column-reverse;
  margin: spaceL() 0 0;
}

.imageWrapper {
  display: flex;
  align-items: flex-end;
}

.image {
  max-width: 100%;
  margin-bottom: rem(-10px);
  height: fit-content;
  margin-top: rem(32px);
}

.subheading {
  margin-top: rem(16px);
}

@include tabletAndUp {
  .content {
    flex-direction: row;
  }

  .image {
    margin-top: 0;
  }
}
