@use "../../../../../styles/index.scss" as *;

.content {
  flex-direction: column-reverse;
  margin: spaceL() 0 0;

  @include tabletAndUp {
    flex-direction: row;
    align-items: center;
  }
}

.imageWrapper {
  display: flex;
  align-items: flex-end;
}

.image {
  max-width: 100%;
  height: fit-content;
  margin-top: rem(32px);

  @include tabletAndUp {
    margin-top: 0;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: rem(16px);

  @include tabletAndUp {
    margin-bottom: rem(76px);
  }

  @include desktopAndUp {
    margin-bottom: rem(56px);
  }
}
