@use "../../../../../styles/index.scss" as *;

.content {
  flex-direction: column-reverse;
  margin: rem(48px) 0 0;
}

.image {
  max-width: 100%;
  margin-bottom: rem(-10px);
}

@include tabletAndUp {
  .content {
    flex-direction: row;
  }

  .searchSection {
    background: $colorSecondary500;
    padding: rem(32px) 0;
  }
}
