@use "../../../styles/index.scss" as *;

.container {
  position: relative;
  max-width: rem(450px);
  flex: 1;
}

.bookCover {
  width: rem(159px);
  height: rem(221px);
  margin-top: rem(-24px);
}

.bookCoverWrapper {
  width: 100%;
  border-radius: rem(168px) rem(168px) 0 0;
  background: $colorTertiary500;
  display: flex;
  justify-content: center;
  padding-left: rem(9px);
}

.addToBagWrapper {
  background: $colorPrimary500;
  color: $colorWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(14px) 0;

  img {
    width: rem(24px);
    margin-right: rem(12px);
  }
}

.bookInfoWrapper {
  display: flex;
  justify-content: space-between;
  padding: rem(16px);
}

.nameAndAuthor {
  display: flex;
  flex-direction: column;
}

.author {
  color: $colorGray300;

  @include textBodySmall;
}

.price {
  color: $colorSecondary500;
}

@include desktopAndUp {
  .container {
    margin: 0 rem(24px);
  }

  .bookCoverWrapper {
    padding: rem(48px) 0 rem(16px);
  }

  .bookCover {
    top: unset;
  }
}
