@use "../../../styles/index.scss" as *;

.container {
  position: relative;
  max-width: rem(450px);
  flex: 1;

  @include desktopAndUp {
    margin: 0 spaceM();
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.bookCover {
  width: rem(159px);
  height: rem(221px);
  margin-top: rem(-24px);

  @include desktopAndUp {
    top: unset;
  }
}

.bookCoverWrapper {
  width: 100%;
  border-radius: rem(168px) rem(168px) 0 0;
  background: $colorTertiary500;
  display: flex;
  justify-content: center;
  padding-left: rem(9px);

  @include desktopAndUp {
    padding: spaceL() 0 spaceS();
  }
}

.bookInfoWrapper {
  display: flex;
  justify-content: space-between;
  padding: spaceS();
}

.nameAndAuthor {
  display: flex;
  flex-direction: column;
}

.author {
  color: $colorGray300;

  @include textBodySmall;
}

.price {
  color: $colorSecondary500;

  @include textSubheading03;
}
