@use "../../../styles/index.scss" as *;

.container {
  position: relative;
}

.bookCover {
  position: absolute;
  max-width: rem(232px);
  top: rem(-64px);
  left: 50%;
  transform: translate(-50%, 0);
}

.content {
  height: rem(420px);
}

.orangeArch {
  height: 60%;
  width: 100%;
  border-radius: rem(168px) rem(168px) 0 0;
  background: $colorTertiary500;
}

.addToBagWrapper {
  background: $colorPrimary500;
  color: $colorWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(14px) 0;

  img {
    width: rem(24px);
    margin-right: rem(12px);
  }
}

.bookInfoWrapper {
  display: flex;
  justify-content: space-between;
  padding: rem(16px);
}

.nameAndAuthor {
  display: flex;
  flex-direction: column;
}

.author {
  color: $colorGray300;

  @include textBodySmall;
}

@include tabletAndUp {
  .bookCover {
    left: 54%;
    max-width: rem(264px);
    top: rem(-24px);
  }

  .orangeArch {
    height: 80%;
  }
}

@include desktopAndUp {
  .bookCover {
    left: 50%;
    max-width: rem(200px);
    top: rem(48px);
  }
}
