@use "../../../styles/index.scss" as *;

.container {
  background-color: $brandPrimary;
  color: $reversed;
  padding: spaceL() 0 spaceXl();
}

.content {
  flex-direction: column;
  gap: spaceXl();
  align-items: baseline;
  @include textBodySmall;

  @include tabletAndUp {
    gap: spaceL();
    flex-direction: row;
  }

  @include desktopAndUp {
    gap: rem(32px);
  }
}

.logoWrapper {
  margin-bottom: spaceL();
  display: flex;
}

.textAndSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: spaceM();
  flex: 1 0 0;

  @include desktopAndUp {
    margin-right: rem(21px);
  }
}

.socialWrapper {
  display: flex;
  gap: spaceL();
}

.linksSection {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: spaceXl();

  @include tabletAndUp {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: spaceL();
  }

  @include desktopAndUp {
    gap: rem(32px);
  }
}

.linkCategoryBlock {
  display: flex;
  flex-direction: column;
  gap: spaceM();

  h3 {
    color: $reversed;
  }
}

.categoryLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: spaceS();

  a {
    color: $reversed;
    max-width: rem(150px);
    white-space: pre-wrap;
    @include textBodySmall;
  }
}

.copyRight {
  padding: rem(8px) 0;
  background-color: $backgroundQuaternary;
  color: $reversed;
  @include textBodyTiny;
}
