@use "../../../styles/index.scss" as *;

.container {
  background-color: $brandPrimary;
  color: $reversed;
  padding: spaceL() 0 spaceXl();
}

.content {
  flex-direction: column;
  gap: spaceXl();
  @include textBodySmall;

  @include tabletAndUp {
    flex-direction: row;
  }
}

.logoWrapper {
  margin-bottom: spaceL();
}

.textAndSocial {
  display: flex;
  flex-direction: column;
  gap: spaceM();
  padding-right: spaceS();
  flex-basis: 40%;
  flex-grow: 1;
}

.socialWrapper {
  display: flex;
  gap: spaceL();
}

.linksSection {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: spaceXl();

  @include tabletAndUp {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: spaceL();
  }
}

.linkCategoryBlock {
  display: flex;
  flex-direction: column;
  gap: spaceM();

  h3 {
    color: $reversed;
  }
}

.categoryLinks {
  display: flex;
  flex-direction: column;
  gap: spaceS();
  @include textBodySmall;

  a {
    color: $reversed;
    max-width: rem(150px);
  }
}

.copyRight {
  padding: rem(8px) 0;
  background-color: #000000; // primary 700
  color: $reversed;
}
