@use "../../../styles/index.scss" as *;

.container {
  background-color: $colorPrimary500;
  color: $colorGray00;
  padding: spaceL() 0 spaceXl();
}

.content {
  flex-direction: column;
  gap: spaceXl();

  @include tabletAndUp {
    flex-direction: row;
  }
}

.logoWrapper {
  margin-bottom: rem(32px);
}

.textAndSocial {
  display: flex;
  flex-direction: column;
  gap: spaceM();
  padding-right: spaceS();
  flex-basis: 40%;
  flex-grow: 1;
}

.socialWrapper {
  display: flex;
  gap: rem(24px);
}

.linksSection {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: spaceXl();

  @include tabletAndUp {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: spaceL();
  }
}

.linkCategoryBlock {
  display: flex;
  flex-direction: column;
  gap: spaceM();

  h3 {
    color: $colorGray00;
  }
}

.categoryLinks {
  display: flex;
  flex-direction: column;
  gap: spaceS();
  @include textBodySmall;

  a {
    color: $colorGray00;
    max-width: rem(150px);
  }
}

.copyRight {
  padding: rem(8px) 0;
  background-color: $colorPrimary600;
  color: $colorGray00;
}
