@use "../../../../styles/index.scss" as *;

.container {
  padding: spaceL() 0 spaceM();
  background: linear-gradient(
    to bottom,
    $colorBackground 0%,
    $colorBackground 85%,
    $colorPrimary500 85%,
    $colorPrimary500 100%
  );

  @include tabletAndUp {
    background: linear-gradient(
      to bottom,
      $colorBackground 0%,
      $colorBackground 70%,
      $colorPrimary500 70%,
      $colorPrimary500 100%
    );
  }
}

.introWrapper {
  background: $colorGray00;
  padding: spaceL();
  margin-top: spaceS();
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  position: relative;
  height: rem(160px);

  img {
    height: rem(150px);
    position: absolute;
    bottom: rem(-32px);
    left: 50%;
    transform: translate(-50%, 0);
  }

  @include tabletAndUp {
    height: auto;

    img {
      height: auto;
      left: unset;
      transform: none;
      width: 80%;
    }
  }
}

.heading {
  max-width: 50%;
}

.bodyText {
  color: $colorGray300;
}

.booksWrapper {
  background: $colorTertiary500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spaceM();
  justify-content: space-between;
  padding: spaceS() spaceL();

  @include tabletAndUp {
    flex-direction: row;
    gap: spaceL();
  }
}
