@use "../../../../styles/index.scss" as *;

.container {
  padding: spaceL() 0 spaceM();
  background: linear-gradient(
    to bottom,
    $backgroundPrimary 0%,
    $backgroundPrimary 85%,
    $brandPrimary 85%,
    $brandPrimary 100%
  );

  @include tabletAndUp {
    background: linear-gradient(
      to bottom,
      $backgroundPrimary 0%,
      $backgroundPrimary 67.5%,
      $brandPrimary 67.5%,
      $brandPrimary 100%
    );
  }
}

.introWrapper {
  background: $reversed;
  padding: spaceL();
  margin-top: spaceS();
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  position: relative;
  height: rem(160px);

  img {
    height: rem(150px);
    position: absolute;
    bottom: calc(#{spaceL()} * -1);
    left: 50%;
    transform: translate(-50%, 0);
  }

  @include tabletAndUp {
    height: auto;

    img {
      height: auto;
      left: rem(-37px);
      transform: none;
      width: 84%;
    }
  }
}

.heading {
  max-width: 50%;
}

.bodyText {
  color: $textSecondary;
  max-width: rem(631px);
  @include textBodySmall;
}

.booksWrapper {
  background: $brandTertiary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spaceM();
  justify-content: space-between;
  padding: spaceS() spaceL();

  @include tabletAndUp {
    flex-direction: row;
    gap: spaceL();
  }
}
