@use "../../../../../styles/index.scss" as *;

.container {
  background: $brandSecondary;
  padding: spaceXxl() 0 spaceL();
  position: relative;

  @include tabletAndUp {
    padding: spaceL() 0;
  }
}

.searchSection {
  position: relative;
}

.searchHeader {
  margin-bottom: rem(8px);

  @include textSubheading03;
}

.floatingImage {
  position: absolute;
  width: rem(296px);
  left: rem(-70px);
  bottom: rem(100px);
  z-index: 1;

  @include tabletAndUp {
    left: rem(-90px);
    width: rem(344px);
    bottom: rem(85px);
  }

  @include desktopAndUp {
    bottom: rem(-76px);
    left: rem(-127px);
    width: rem(454px);
  }
}
