@use "../../../../../styles/index.scss" as *;

.container {
  background: $colorSecondary500;
  padding: rem(32px) 0;
  position: relative;
}

.searchHeader {
  margin-bottom: rem(8px);

  @include textSubheading03;
}

.floatingImage {
  position: absolute;
  width: 60%;
  left: -10%;
  bottom: 80%;
  z-index: 1;
}

@include tabletAndUp {
  .floatingImage {
    left: 0;
    width: 30%;
  }
}

@include desktopAndUp {
  .floatingImage {
    bottom: rem(-24px);
  }
}
