// Color palette
$colorGray300: #7f7c80;
$colorGray500: #29242b;
$colorPrimary200: #ab9ab2;
$colorPrimary500: #452b4f;
$colorPrimary600: #3f2649;
$colorSecondary100: #ffd7cd;
$colorSecondary500: #fe805d;
$colorSecondary600: #d7694a;
$colorTertiary500: #ffbd76;
$colorSuccess500: #0f9918;
$colorError500: #e54545;
$colorPrimaryBackground: #faf4f0;
$colorSecondaryBackground: #f6eade;
$colorWhite: #ffffff;

// Component colors
$colorTextBody: $colorGray500;
$colorTextHeading: $colorPrimary500;
$colorTextSubheading: $colorGray500;
$colorBackground: $colorPrimaryBackground;
