$colorGray500: #29242B;
$colorPrimary500: #452B4F;
$colorSecondary500: #FE805D;
$colorTertiary500: #FFBD76;
$colorSuccess500: #0F9918;
$colorError500: #E54545;
$colorPrimaryBackground: #FAF4F0;
$colorSecondaryBackground: #F6EADE;

// Our color assignments
$colorTextBody: $colorGray500;
$colorBackground: $colorPrimaryBackground;
