// // Color palette
// $colorGray00: #ffffff;
// $colorGray300: #7f7c80;
// $colorGray500: #29242b;
// $colorPrimary200: #ab9ab2;
// $colorPrimary500: #452b4f;
// $colorPrimary600: #3f2649;
// $colorSecondary100: #ffd7cd;
// $colorSecondary500: #fe805d;
// $colorSecondary600: #d7694a;
// $colorTertiary500: #ffbd76;
// $colorSuccess500: #0f9918;
// $colorError500: #e54545;
// $colorPrimaryBackground: #faf4f0;
// $colorSecondaryBackground: #f6eade;

// // Context based colors
// $colorTextBody: $colorGray500;
// $colorTextHeading: $colorPrimary500;
// $colorTextSubheading: $colorGray500;
// $colorBackground: $colorPrimaryBackground;
// $colorDivider: $colorSecondary600;

// Primitives, not to be used outside this file
$gray50: rgba(239, 237, 241, 1);
$gray100: rgba(212, 211, 213, 1);
$gray200: rgba(169, 167, 170, 1);
$gray300: rgba(127, 124, 128, 1);
$gray400: rgba(84, 80, 85, 1);
$gray500: rgba(41, 36, 43, 1);
$gray600: rgba(33, 29, 34, 1);
$gray700: rgba(25, 22, 26, 1);
$gray800: rgba(16, 14, 17, 1);
$gray900: rgba(0, 0, 0, 1);
$gray00: rgba(255, 255, 255, 1);
$primary50: rgba(239, 228, 244, 1);
$primary100: rgba(205, 191, 211, 1);
$primary200: rgba(171, 154, 178, 1);
$primary300: rgba(137, 117, 145, 1);
$primary400: rgba(103, 80, 112, 1);
$primary500: rgba(69, 43, 79, 1);
$primary600: rgba(63, 38, 73, 1);
$primary700: rgba(57, 32, 68, 1);
$primary800: rgba(52, 27, 62, 1);
$primary900: rgba(40, 16, 51, 1);
$secondary50: rgba(255, 237, 233, 1);
$secondary100: rgba(255, 215, 205, 1);
$secondary200: rgba(255, 193, 177, 1);
$secondary300: rgba(254, 172, 149, 1);
$secondary400: rgba(254, 150, 121, 1);
$secondary500: rgba(254, 128, 93, 1);
$secondary600: rgba(215, 105, 74, 1);
$secondary700: rgba(176, 81, 56, 1);
$secondary800: rgba(136, 58, 37, 1);
$secondary900: rgba(58, 11, 0, 1);
$tertiary25: rgba(250, 244, 240, 1);
$tertiary50: rgba(246, 234, 222, 1);
$tertiary100: rgba(253, 222, 192, 1);
$tertiary200: rgba(253, 214, 173, 1);
$tertiary300: rgba(254, 205, 155, 1);
$tertiary400: rgba(254, 197, 136, 1);
$tertiary500: rgba(255, 189, 118, 1);
$tertiary600: rgba(233, 166, 94, 1);
$tertiary700: rgba(212, 133, 71, 1);
$tertiary800: rgba(190, 119, 47, 1);
$tertiary900: rgba(147, 73, 0, 1);
$success50: rgba(231, 245, 232, 1);
$success100: rgba(207, 235, 209, 1);
$success200: rgba(159, 214, 163, 1);
$success300: rgba(111, 194, 116, 1);
$success400: rgba(63, 173, 70, 1);
$success500: rgba(15, 153, 24, 1);
$success600: rgba(12, 122, 19, 1);
$success700: rgba(9, 92, 14, 1);
$success800: rgba(6, 61, 10, 1);
$success900: rgba(3, 31, 5, 1);
$error50: rgba(252, 236, 236, 1);
$error100: rgba(250, 218, 218, 1);
$error200: rgba(245, 181, 181, 1);
$error300: rgba(239, 143, 143, 1);
$error400: rgba(234, 106, 106, 1);
$error500: rgba(229, 69, 69, 1);
$error600: rgba(183, 55, 55, 1);
$error700: rgba(137, 41, 41, 1);
$error800: rgba(92, 28, 28, 1);
$error900: rgba(46, 14, 14, 1);

// Palette, for use in component style files
$headlines: $primary500;
$textPrimary: $gray500;
$textSecondary: $gray300;
$textTertiary: $secondary600;
$brandPrimary: $primary500;
$brandSecondary: $secondary500;
$brandTertiary: $tertiary500;
$success: $success500;
$error: $error500;
$backgroundPrimary: $tertiary25;
$backgroundSecondary: $tertiary50;
$backgroundTertiary: $gray00;
$backgroundQuaternary: $primary700;
$reversed: $gray00;
$heroInput: $secondary200;
