@use "./responsive" as *;
@use "sass:math";

@mixin setColumnWidth($columnNumber, $maxColumns, $gutter) {
  $columnDifference: calc(#{$maxColumns} - #{$columnNumber});
  $gutters: calc(#{$gutter} * #{$columnDifference} / #{$maxColumns});
  $columnsDividedColumnNumber: calc(#{$maxColumns} / #{$columnNumber});
  width: calc((100% / #{$columnsDividedColumnNumber}) - #{$gutters});
}

@mixin grid($maxWidth, $columns, $gutter, $classExtension) {
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $maxWidth;
  }

  .col-1-#{$classExtension} {
    @include setColumnWidth(1, $columns, $gutter);
  }
  .col-2-#{$classExtension} {
    @include setColumnWidth(2, $columns, $gutter);
  }
  .col-3-#{$classExtension} {
    @include setColumnWidth(3, $columns, $gutter);
  }
  .col-4-#{$classExtension} {
    @include setColumnWidth(4, $columns, $gutter);
  }
  .col-5-#{$classExtension} {
    @include setColumnWidth(5, $columns, $gutter);
  }
  .col-6-#{$classExtension} {
    @include setColumnWidth(6, $columns, $gutter);
  }
  .col-7-#{$classExtension} {
    @include setColumnWidth(7, $columns, $gutter);
  }
  .col-8-#{$classExtension} {
    @include setColumnWidth(8, $columns, $gutter);
  }
  .col-9-#{$classExtension} {
    @include setColumnWidth(9, $columns, $gutter);
  }
  .col-10-#{$classExtension} {
    @include setColumnWidth(10, $columns, $gutter);
  }
  .col-11-#{$classExtension} {
    @include setColumnWidth(11, $columns, $gutter);
  }
  .col-12-#{$classExtension} {
    width: 100%;
  }
}

$mobileGridMargin: rem(16px);
$tabletGridMargin: rem(32px);
$desktopGridMargin: rem(120px);

@mixin gridMobile {
  $smallGridWidth: calc(100% - #{$mobileGridMargin} * 2);
  @include grid($smallGridWidth, 4, rem(8px), "sm");
}

@mixin gridTablet {
  $tabletGridWidth: calc(100% - #{$tabletGridMargin} * 2);
  @include grid($tabletGridWidth, 12, rem(24px), "md");
}

@mixin gridDesktop {
  @include grid($desktopRems, 12, rem(24px), "lg");
}

.row-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include gridMobile;

  @include tabletAndUpWithGridMargin($tabletGridMargin) {
    @include gridTablet;
  }

  @include desktopAndUpWithGridMargin($desktopGridMargin) {
    @include gridDesktop;
  }
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.exampleContent {
  background-color: #ef5350;
  padding: rem(20px);
  border: 1px solid white;
  text-align: center;
  color: white;
}
