@use "sass:math";

$standardFontSize: 16px;

$tabletRems: 48rem;
$desktopRems: 72.5rem;

// Convert rems to pixels.
@function remToPx($rems) {
  @return math.div($rems, 1rem) * $standardFontSize;
}

// Convert pixel values to rems
// (Assumes 16px default font-size)
@function rem($pixels) {
  @return (math.div($pixels, $standardFontSize)) * 1rem;
}

$mobileGridMargin: 1.5rem;
$tabletGridMargin: 3rem;
$desktopGridMargin: 3rem;

$tabletMinWidthPx: 864px;
$desktopMinWidthPx: 1256px;
$mobileMaxWidthPx: 863px;

@mixin tabletAndUp {
  @media only screen and (min-width: rem($tabletMinWidthPx - 1px)) {
    @content;
  }
}

@mixin desktopAndUp {
  @media only screen and (min-width: rem($desktopMinWidthPx - 1px)) {
    @content;
  }
}

@mixin mobileOnly {
  @media only screen and (max-width: rem($mobileMaxWidthPx)) {
    @content;
  }
}

@mixin tabletOnly {
  @media only screen and (min-width: rem($tabletMinWidthPx)) and (max-width: rem($desktopMinWidthPx - 1px)) {
    @content;
  }
}

@mixin desktopOnly {
  @media only screen and (min-width: rem($desktopMinWidthPx)) {
    @content;
  }
}
