@use "sass:math";

$standardFontSize: 16px;
$tabletRems: 48rem;
$desktopRems: 72.5rem;

/**
 * Convert rems to pixels.
 */
@function remToPx($rems) {
  @return math.div($rems, 1rem) * $standardFontSize;
}

$tabletPixels: remToPx($tabletRems);
$desktopPixels: remToPx($desktopRems);

// Convert pixel values to rems
// (Assumes 16px default font-size)
@function rem($pixels) {
  @return (math.div($pixels, $standardFontSize)) * 1rem;
}

@mixin tabletAndUp {
  @media only screen and (min-width: $tabletRems) {
    @content;
  }
}

@mixin desktopAndUp {
  @media only screen and (min-width: $desktopRems) {
    @content;
  }
}

@mixin mobileWithGridMargin($margin) {
  @media only screen and (max-width: ($tabletRems + $margin * 2 - 1)) {
    @content;
  }
}

@mixin tabletWithGridMargin($margin) {
  @media only screen and (min-width: ($tabletRems + $margin * 2)) and (max-width: ($desktopRems + $margin * 2 + 1)) {
    @content;
  }
}

@mixin desktopWithGridMargin($margin) {
  @media only screen and (min-width: ($desktopRems + $margin * 2)) {
    @content;
  }
}
