@use "sass:math";

$standardFontSize: 16px;

// Convert rems to pixels.
@function remToPx($rems) {
  @return math.div($rems, 1rem) * $standardFontSize;
}

// Convert pixel values to rems
// (Assumes 16px default font-size)
@function rem($pixels) {
  @return (math.div($pixels, $standardFontSize)) * 1rem;
}

$tabletGridMaxWidth: 48rem;
$desktopGridMaxWidth: 72.5rem;

$mobileGridMargin: 1.5rem;
$tabletGridMargin: 3rem;
$desktopGridMargin: 3rem;

$tabletBreakpointPx: remToPx($tabletGridMaxWidth + 2 * $tabletGridMargin);
$desktopBreakpointPx: remToPx($desktopGridMaxWidth + 2 * $desktopGridMargin);
$mobileMaxBreakpointPx: $tabletBreakpointPx - 1px;
$breakpointFluidMin: 48rem; // 768px
$breakpointFluidMax: 125rem; // 2000px

@mixin tabletAndUp {
  @media only screen and (min-width: rem($tabletBreakpointPx - 1px)) {
    @content;
  }
}

@mixin desktopAndUp {
  @media only screen and (min-width: rem($desktopBreakpointPx - 1px)) {
    @content;
  }
}

@mixin mobileOnly {
  @media only screen and (max-width: rem($mobileMaxBreakpointPx)) {
    @content;
  }
}

@mixin tabletOnly {
  @media only screen and (min-width: rem($tabletBreakpointPx)) and (max-width: rem($desktopBreakpointPx - 1px)) {
    @content;
  }
}

@mixin desktopOnly {
  @media only screen and (min-width: rem($desktopBreakpointPx)) {
    @content;
  }
}
