@use "./gridSystem" as *;
@use "./colors" as *;
@use "./typography" as *;
@use "./responsive" as *;
@use "sass:math";

@font-face {
  font-family: "PPTelegraf-UltraBold";
  src: url(./fonts/PPTelegraf-Ultrabold.ttf) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url(./fonts/Poppins-Light.ttf) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(./fonts/Poppins-Regular.ttf) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./fonts/Poppins-SemiBold.ttf) format("woff");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background: $colorBackground;
  color: $colorTextBody;

  @include textBodyRegular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: $colorTextHeading;

  @include textHeading01;
}

h2 {
  color: $colorTextHeading;

  @include textHeading02;
}

h3 {
  color: $colorTextHeading;

  @include textHeading03;
}

h4 {
  color: $colorTextHeading;

  @include textHeading04;
}

.subheading1 {
  color: $colorTextSubheading;

  @include textSubheading01;
}

.subheading3 {
  color: $colorTextSubheading;

  @include textSubheading03;
}

.mobile-and-down {
  display: inherit;

  @include tabletAndUp {
    display: none;
  }
}

.tablet-and-up {
  display: none;

  @include tabletAndUp {
    display: inherit;
  }
}

.desktop-and-up {
  display: none;

  @include desktopAndUp {
    display: inherit;
  }
}
