@use "../../../styles/index.scss" as *;

$animationSpeed: 40s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-2080.64px));
  }
}

.slider {
  background: $colorPrimary500;
  height: rem(64px);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: white;

  .slideTrack {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    gap: spaceL();
    width: fit-content;
  }

  .slide {
    height: rem(64px);
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);
  }
}
