@use "../../../../styles/index.scss" as *;

.container {
  background: linear-gradient(
    to bottom,
    $colorBackground 0%,
    $colorBackground 60%,
    $colorPrimary500 60%,
    $colorPrimary500 100%
  );
}

.introWrapper {
  background: $colorWhite;
  padding: rem(32px);
  margin-top: rem(16px);
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  position: relative;
  height: rem(160px);

  img {
    height: rem(150px);
    position: absolute;
    bottom: rem(-32px);
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.heading {
  max-width: 50%;
}

.booksWrapper {
  background: $colorTertiary500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);
  justify-content: space-between;
  padding: rem(16px) rem(32px);
}

@include tabletAndUp {
  .booksWrapper {
    flex-direction: row;
    padding: rem(16px) rem(32px);
  }

  .imgWrapper {
    height: auto;

    img {
      height: auto;
      left: unset;
      transform: none;
      width: 80%;
    }
  }
}
