@use "../../../styles/index.scss" as *;

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;

  .bookInfo {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(12px);
    margin-right: rem(-8px);
  }

  .title {
    display: flex;
    align-items: flex-end;
    height: 60%;
  }

  hr {
    border: rem(1px) solid $colorSecondary600;
    opacity: 0.4;
    width: 100%;
  }

  img {
    z-index: 1;
    height: rem(125px);
  }
}
