@use "../../../styles/index.scss" as *;

.container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  .bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    gap: rem(12px);
    margin-right: rem(-8px);
    padding: rem(4px) 0 rem(8px);

    .title {
      margin-right: rem(8px);
    }

    hr {
      border: rem(1px) solid $colorSecondary600;
      opacity: 0.4;
    }

    .price {
      @include textBodySmall;
    }
  }

  .bookCover {
    z-index: 1;
    height: rem(125px);
  }
}
