@use "../../../styles/index.scss" as *;

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 1;

  .bookInfo {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
    gap: rem(12px);
    margin-right: rem(-8px);
  }

  .title {
    margin-right: rem(8px);
  }

  hr {
    border: rem(1px) solid $colorSecondary600;
    opacity: 0.4;
    flex-grow: 1;
  }

  img {
    z-index: 1;
    height: rem(125px);
  }
}
