@use "../../../styles/index.scss" as *;

.container {
  background-color: $colorGray00;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: rem(40px) 0;

  a {
    color: $colorGray500;
  }
}

.logo {
  margin-top: rem(10px);
}

.tabletAndUpNav {
  @include tabletAndUp {
    display: flex;
    align-items: center;
    gap: spaceM();
  }
}

.navLink {
  display: flex;
  align-items: center;

  @include textBodySmall;
}
