@use "../../../styles/index.scss" as *;

.container {
  background-color: $colorGray00;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: rem(40px) 0;

  a {
    color: $colorGray500;
  }
}

.logo {
  margin-top: rem(10px);
}

.navLink {
  margin-left: rem(32px);

  @include textBodySmall;
}

@include tabletAndUp {
  .tabletAndUpNav {
    display: flex;
    align-items: center;
  }
}
