@use '../../../styles/index.scss' as *;

.contentBlockLeft {
    background: grey;
    opacity: 0.5;
    height: rem(400px);
    @include textDisplay02;
}

.contentBlockRight {
    height: rem(300px);
    background: gold;
    opacity: 0.5;
}
